.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  right: 0;
  left: 0;
  text-transform: uppercase;
  font-weight: 400;
  padding: 0.25rem;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  z-index: 1;
}
.div {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}
.link {
  cursor: pointer;
}
.link:hover {
  color: rgb(200, 200, 200);
}
.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
}
.logo:hover {
  transform: scale(1.025);
}
